<html> 
    <head> 
        <title> Rest API</title>
    </head>
    <body> 
        <h2 style="color: rgb(202, 153, 226); margin-left: 453 ;width:120ch ; height:5ch;"> Welcome in Django-RestAPI App </h2>
        <hr width="900"> 
        <h3 style="margin-left: 523 ;"> Click on below button </h3>
        <br>
    <div style="margin-left: 553 ;width:120ch ; height:5ch;" > 
        <a href="{% url 'create' %}"><button> Open Bucketlist API  </button> </a><br><br>
        
    </div>
    </body>
</html>
