<html>
    <head>
        <title> Home </title>
    </head>

    <body>

            <form> 
                    <table border="0">
                    <tr>
                        <td> Name </td>
                        <td> <input   type="text" placeholder="Name" name="name" autofocus="auto" tabindex="1" > </td>
                    </tr>
                    
                    <tr>
                        <td> Address </td>
                        <td> <input type="text" placeholder="Address" name="addr"> </td>
                    </tr>
                    
                    <tr>
                        <td> Mobile  </td>
                        <td> <input   type="number" placeholder="mobile number" name="monumber" > </td>
                    </tr>
                    
                    <tr>
                        <td> Email  </td>
                        <td> <input   type="email" placeholder="Email" name="mail"> </td>
                    </tr>
                   
                    <tr>
                            <td> CITY </td>
                            <td> 
                            <select>
                                    <option value="">choose city</option>
                                    <option value="pune" name="pune">Pune</option>
                                    <option value="mumbai" name="mumbai">Mumbai</option>
                                    <option value="nashik" name="nashik">Nashik</option>
                                    <option value="banglore" name="banglore">Banglore</option>
                            </select>
                        </td>
                        </tr>    
                    <tr>
                           
                            <td> Gender </td>  
                            <td> <input type="radio"  name="Gender" value="male"> Male  <input type="radio" name="Gender" value="female"> Female  </td>
                            <td> </td>
                    </tr>
                    <tr>
                        <td> Upload Image </td>
                        <td> <input type="file" name="fileToUpload" id="fileToUpload"></td>
                        </tr>   
                    <tr>
                            <td>Date of payment:</td>
                            <td> <input type="date" name="dateofpayment"></td>
                    </tr>
                          
                    <tr>
                            <td> Time</td>
                            <td> <input type="time" name="time"></td>
                    </tr>
                    <tr>
                    <td> You know the github   </td>
                    <td><input type="checkbox" name="kngithub"> IF yes Provide Link <input type="url"  name="urlbox"> </td>
                    </tr>
                    
                    <tr> 
                            <td> Select </td>
                            <td>    
                                <select class="custom-select" multiple>
                                    <option value="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </td>
                                  

                    </tr>
                    
                    <td> Languages you knows </td>
                    <br />
                    <td>
                        <input type="checkbox"  name="Courses" value="c"> C  
                        <input type="checkbox"  name="Courses" value="c++"> C++ 
                        <input type="checkbox"  name="Courses" value="java"> Java 
                        <input type="checkbox"  name="Courses" value="python"> Python<br />
                        <input type="checkbox"  name="Courses" value="html"> HTML
                        <input type="checkbox" name="Courses" value="css"> CSS
                        <input type="checkbox" name="Courses" value="javascript"> JavaScript
                        <input type="checkbox" name="Courses" value="angular"> Angular
                    
                    </td>
                    </tr>
                    <tr>
                            <td>Attachemt your Resume :</td>
                            <td><input type="file" name="attchement"></td>
                    </tr>

                    <tr>
                            <td> How Much salary you expect (per year)</td>
                           <td> <input type="range" min="150000" max="450000" name="rangebox"></td>
                    </tr>
                    
                    <tr>
                            <td>Attachemt Document[ Aadhar,PanCard ]</td>
                            <td><input  type="file" multiple="mutliplefiles"></td>
                    </tr>
                    <tr>
                            <td> Feedback </td>
                        <td><textarea style="margin: 0px; width: 345px; height: 123px;"> </textarea></td>
                        </tr>  
                    <tr>
                           
                             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" value="Register"> <input type="reset" placeholder="reset"> </td>
                            
                    </tr> 
                
                    </table>

                
            </form>
    
    </body>
</html>