<!DOCTYPE html>
<html lang="en">
<head>
  <title> HomePage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2> My Profile Detail </h2>
  <p> Serach by all </p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>First_Name</th>
	    <th>Last_name </th>
        <th>Email</th>
        <th>Age</th>
        <th> Fruit </th>
       
		
      </tr>
    </thead>
    <tbody id="myTable">
	    {% for i in form %}
      <tr>
            <td> {{ i.name }} </td>
			<td> {{ i.name }} </td>
            <td> {{ i.email }} </td>
            <td> {{ i.age }} </td>
            <td> {{ i.favorite_fruit }}</td>
          
      </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
